.Search{
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
    margin-left: 4rem;
    padding: 1rem;
        border-color: skyblue;
        width: 600px;
        align-items: center;
        background-color: snow;
        line-height: 1;
}

.Search1{
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
    margin-left: 4rem;
    padding: 1rem;
        border-color: skyblue;
        width: 150px;
        align-items: center;
        background-color: snow;
        line-height: 1;
}