.s1{
   
    width: 40px;
    height: 40px;
    margin-left: 5rem;
    border-color: #2f80ed;
    
}

.text1{
    padding: 7rem;
    font-size: 40px;
    font-family: 'IBM Plex Sans KR', sans-serif;
    align-items: center;
}

.s2{
    
    background-color: snow;
    padding: 1rem;
    font-size: 30px;
    width: 200px;
    border-color: #2f80ed;
    margin-left: 40rem;
    margin-bottom: 1rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.result{
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.list{
    margin-top: 1rem;
    font-size: 20px;
    padding: 1rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    color: #2f80ed;
    float: right;
    background-color:snow;
    width: 100px;
}

.tag{
    border-radius: 20px;
    padding-left: 20rem;
    width: 200px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-shadow: 3px 3px #246;
    font-size: 40px;
    color: snow;
    float:left;
    padding: 10px;
    align-items: center;
    font-family: 'IBM Plex Sans KR', sans-serif;
    background-color: #2f80ed;
}