.Profile {
  width: 1280px;
  color: #2f80ed;
  margin-right: 90rem;
  align-items: center;
  justify-content: center;
}

.Profileimage {
  margin-right: 50rem;
}

.Name {
  width: 1280px;
  color: #2f80ed;
  vertical-align: text-top;
}

.fb1 {
  background-color: snow;
  padding: 1rem;
  font-size: 30px;
  width: 300px;
  border-color: #2f80ed;
  margin-left: 5rem;
}

.ftext {
  color: #2f80ed;
  font-family: "Fira Mono", monospace;
}
