
.Profile {
    width: 1280px;
   color: red;
   margin-left: auto;
   align-items: center;
   justify-content: center;
}  

.Name{
    width: 1280px;
    align-items: center;
    color: blue;
    vertical-align: text-top;
   
}

