.title{
    font-size: 50px;
    color: #2F80ED;
    padding: 1rem;
    margin-right: 6rem;
    width: 1280px;
    display: flex;
    overflow: hidden

}

.sign-up-wrap{
    font-size:20px;
    padding: 1rem;
}

.input{
    padding: 5rem;
}
.n1{
    font-size: 30px;
    font-family: sans-serif;
    margin: 2rem;
    width: 600px;
    line-height: 1;
}
.text{
    color: #2F80ED;
    
}
.b2{
    background-color: snow;
    padding: 1rem;
    font-size: 30px;
    width: 300px;
    border-color: #2F80ED;
    margin-left: 10rem;
    
    
}